.event {
  overflow: hidden;
  padding-left: 135px;
}

.envelope > .member {
  width: 125px;
  padding-left: 5px;
}

.message {
  margin-left: 135px;
  margin-right: 100px;
}
.message .member {
  font-weight: bold;
}

.timestamp {
  margin-right: 20px;
  width: 60px;
}