/*-----------------------------------------------------------------------------
  A colloquy theme by Tad Thorley
-----------------------------------------------------------------------------*/

body {
  font-family: "Lucida Grande", sans-serif;
  background-color: rgba(255, 255, 255, 0.98);
  color: #333;
  font-size: 0.75em;
  padding: 0;
  margin: 0;
}

.member {
  text-decoration: none;
}

.event {
  overflow: hidden;
  border-right: 5px solid #CCC;
  border-left: 5px solid #CCC;
  color: #999;
  padding-left: 105px;
}

.event .member {
  overflow: hidden;
  color: #666;
  font-weight: bold;
}

.envelope {
  overflow: hidden;
  border-right: 5px solid #CCC;
  border-left: 5px solid #CCC;
}

.envelope.highlight {
  border-right: 5px solid #666;
  border-left: 5px solid #666;
}

.highlight .timestamp {
  font-weight: bold;
}

.envelope > .member {
  overflow: hidden;
  display: block;
  width: 90px;
  padding-left: 5px;
  float: left;
  text-align: right;
  color: #679F41;
  font-weight: bold;
}

.message {
  display: block;
  text-align: left;
  margin-left: 105px;
  margin-right: 80px;
  margin-bottom: 2px;
  word-wrap: break-word;
  -khtml-line-break: after-white-space;
  -khtml-nbsp-mode: space;
}
.message .member {
  font-weight: bold;
}
.message a {
  color: #1A5B93
}
.action .member, .action .message {
  font-style: italic;
}
.timestamp {
  float: right;
  margin-right: 10px;
  width: 60px;
	color: #666;
}

.duptime .timestamp {
  display: none;
}

.envelope > .member.self {
  color: #F18909;
}

.bip {
  border-right: 5px solid #54548b;
  border-left: 5px solid #54548b;
}

